.search_form {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
}

.search_bar {
    width: 50%;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.search_button {
    background: rgba(157, 149, 172, 0.8);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background: rgba(140, 130, 150, 0.8);
    }
}

.iconSearch {
    fill: gray;
    height: 2rem;
    width: 2rem;
    background-color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}